.carousel-wrapper {
	margin-top: -80px;
	margin-bottom: 80px;
}
.preskoly-wrapper {
	background-image: url("./assets/Group 1.png");
	min-height: 600px;
	width: 100%;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;

	.container {
		display: flex;
		align-items: center;
		min-height: 500px;

		h1 {
			font-weight: bold;
			font-size: 40px;
		}

		p {
			font-size: 18px;
		}
	}
}


.category-cards {
  	margin-top: -250px;
}

@media (max-width: 800px) {
  	.preskoly-wrapper {
		background-image: none;
		background-color: rgb(237, 239, 238);
  	}
}

/deep/ {
	&.VueCarousel-dot:focus {
		outline: none !important;
	}

	&.VueCarousel-dot--active {
		background-color: #1eaee1 !important;
	}

	&.VueCarousel-dot {
		width: 6px !important;
		height: 6px !important;
		width: 6px !important;
		height: 6px !important;
	}
}

hr {
	max-width: 73%;
	border: 1px solid #f3f4f5;
}